.login-form {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}

input[type="text"],
input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #7954ff;
    border: 1px solid #7954ff;
    color: #fff;
    padding: 10px 20px;
}

.button-container:hover {
    background: #3104d2;
}

.button-container {
    margin-left: 4rem;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #7954ff;
    border: 1px solid #7954ff;
    color: #fff;
    padding: 10px 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}